<section class="container-fluid with-maxwidth chapter">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">CATALOGO</li>
        <li class="breadcrumb-item active">CONMEMORATIVAS</li>
    </ul>
    <article class="article">
        <h2 class="article-title">Seleccione un año</h2>
        <div class="row">
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">2004</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">2005</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">2006</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">2007</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">2008</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">2009</button><div class="divider divider-sm"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">2010</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">2011</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">2013</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">2014</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">2015</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">2016</button><div class="divider divider-sm"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/conmemorativas/ano', '2017']">2017</button><div class="divider divider-sm"></div>
            </div>
        </div>
    </article>
    <smd-fab-speed-dial>
        <smd-fab-trigger>
            <button md-fab ><md-icon>filter_list</md-icon></button>
        </smd-fab-trigger>
        <smd-fab-actions>
            <button md-mini-fab  [routerLink]="['/app/catalogo/conmemorativas/pais']">Pais</button>
            <button md-mini-fab  [routerLink]="['/app/catalogo/conmemorativas/ano']">Año</button>
        </smd-fab-actions>
    </smd-fab-speed-dial>
</section>