<section class="container-fluid with-maxwidth chapter">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">CATALOGO</li>
        <li class="breadcrumb-item active">SERIES</li>
    </ul>
    <article class="article">
        <h2 class="article-title">Seleccione un pais</h2>
        <div class="row">
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/series', 'de']">Alemania</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/series', 'at']">Austria</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/series', 'be']">Bélgica</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/series', 'ci']">Chipre</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/series', 'sk']">Eslovaquia</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/series', 'si']">Eslovenia</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/series', 'es']">España</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/series', 'ee']">Estonia</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/series', 'fi']">Finlandia</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/series', 'fr']">Francia</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/series', 'gr']">Grecia</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/series', 'ie']">Irlanda</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/series', 'it']">Italia</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/series', 'lv']">Letonia</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/series', 'lt']">Lituania</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/series', 'lu']">Luxemburgo</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/series', 'mt']">Malta</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/series', 'nl']">Holanda</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/series', 'pt']">Portugal</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/series', 'ad']">Andorra</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/series', 'mc']">Mónaco</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/series', 'sm']">San Marino</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/series', 'va']">Vaticano</button><div class="divider divider-sm"></div>
            </div>
        </div>
    </article>
</section>