<section class="container-fluid with-maxwidth chapter">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">CATALOGO</li>
        <li class="breadcrumb-item active">SERIES</li>
    </ul>
    <article class="article">
        <h2 class="article-title">Seleccione un pais</h2>
        <div class="row">
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">Alemania</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">Austria</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">Bélgica</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">Chipre</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">Eslovaquia</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">Eslovenia</button><div class="divider divider-sm"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/series', 'es']">España</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">Estonia</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">Finlandia</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/series', 'fr']">Francia</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">Grecia</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">Irlanda</button><div class="divider divider-sm"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">Italia</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">Letonia</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">Lituania</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">Luxemburgo</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">Malta</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">Paises Bajos</button><div class="divider divider-sm"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">Portugal</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">Andorra</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">Mónaco</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">San Marino</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-2">
                <button md-raised-button color="warn" class="btn btn-block">C. del Vaticano</button><div class="divider divider-sm"></div>
            </div>
        </div>
    </article>
</section>