<section class="container-fluid with-maxwidth chapter">
    <article class="article">
        <h2 class="article-title">Monedas conmemorativas de {{header}}</h2>
    </article>
    <table class="tabla-monedas mdl-data-table" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric all border-left-header">Imagen</th>
                <th>KM#</th>
                <th class="mdl-data-table__cell--non-numeric">Fecha</th>
                <th>Tirada</th>
                <th class="mdl-data-table__cell--non-numeric">Motivo</th>
                <th class="all border-right-header"></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th class="mdl-data-table__cell--non-numeric all border-left-footer">Imagen</th>
                <th>KM#</th>
                <th class="mdl-data-table__cell--non-numeric">Fecha</th>
                <th>Tirada</th>
                <th class="mdl-data-table__cell--non-numeric">Motivo</th>
                <th class="all border-right-footer"></th>
            </tr>
        </tfoot>
        <tbody>
            <tr *ngFor="let moneda of monedas">
                <td class="mdl-data-table__cell--non-numeric" [ngClass]="(moneda.user_monedas.length > 0) ? 'iHaveL' : 'iWishL'">
                    <img (click)="openDialogoDetalle(moneda)" src="{{moneda.imagen}}"/>
                </td>
                <td>{{moneda.km}}</td>
                <td class="mdl-data-table__cell--non-numeric"><strong>{{moneda.fecha_emision | date: 'yyyy'}}, {{moneda.fecha_emision | date: 'dd MMMM'}}</strong></td>
                <td>{{moneda.tirada_unc + moneda.tirada_bu + moneda.tirada_proof | number}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{moneda.motivo}}</td>
                <td [ngClass]="(moneda.user_monedas.length > 0) ? 'iHaveR' : 'iWishR'">
                    <div class="row">
                        <div class="col">
                            <div class="btn-group-vertical btn-block" role="group" aria-label="Actions">
                                <button (click)="openDialogoDetalle(moneda)" md-raised-button color="primary" class="btn btn-sm btn-block"><md-icon class="material-icons">visibility</md-icon> VER DETALLES</button>
                                <div *ngIf="moneda.user_monedas.length > 0; then edit else add"></div>
                                <ng-template #add><button (click)="openDialogoColeccion(moneda)" md-raised-button color="warn" class="btn btn-sm btn-block"><md-icon class="material-icons">add</md-icon> AÑADIR</button></ng-template>
                                <ng-template #edit><button (click)="openDialogoColeccion(moneda)" md-raised-button color="accent" class="btn btn-sm btn-block"><md-icon class="material-icons">edit</md-icon> EDITAR</button></ng-template>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>