<section class="container-fluid with-maxwidth chapter">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">CATALOGO</li>
        <li class="breadcrumb-item active">CONMEMORATIVAS</li>
    </ul>
    <article class="article">
        <h2 class="article-title">Seleccione un pais</h2>
        <div class="row">
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/conmemorativas/pais', 'de']">Alemania</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/conmemorativas/pais', 'at']">Austria</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/conmemorativas/pais', 'be']">Bélgica</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/conmemorativas/pais', 'ci']">Chipre</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/conmemorativas/pais', 'sk']">Eslovaquia</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/conmemorativas/pais', 'si']">Eslovenia</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/conmemorativas/pais', 'es']">España</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/conmemorativas/pais', 'ee']">Estonia</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/conmemorativas/pais', 'fi']">Finlandia</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/conmemorativas/pais', 'fr']">Francia</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/conmemorativas/pais', 'gr']">Grecia</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/conmemorativas/pais', 'ie']">Irlanda</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/conmemorativas/pais', 'it']">Italia</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/conmemorativas/pais', 'lv']">Letonia</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/conmemorativas/pais', 'lt']">Lituania</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/conmemorativas/pais', 'lu']">Luxemburgo</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/conmemorativas/pais', 'mt']">Malta</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/conmemorativas/pais', 'nl']">Holanda</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/conmemorativas/pais', 'pt']">Portugal</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/conmemorativas/pais', 'ad']">Andorra</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/conmemorativas/pais', 'mc']">Mónaco</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/conmemorativas/pais', 'sm']">San Marino</button><div class="divider divider-sm"></div>
            </div>
            <div class="col-sm-3 col-md-2">
                <button md-raised-button color="warn" class="btn btn-block" [routerLink]="['/app/catalogo/conmemorativas/pais', 'va']">Vaticano</button><div class="divider divider-sm"></div>
            </div>
        </div>
    </article>
    <smd-fab-speed-dial>
        <smd-fab-trigger>
            <button md-fab ><md-icon>filter_list</md-icon></button>
        </smd-fab-trigger>
        <smd-fab-actions>
            <button md-mini-fab [routerLink]="['/app/catalogo/conmemorativas/pais']">Pais</button>
            <button md-mini-fab [routerLink]="['/app/catalogo/conmemorativas/ano']">Año</button>
        </smd-fab-actions>
    </smd-fab-speed-dial>
</section>