<section class="page-with-tabs">
    <div class="page-title">
        <h2>Series</h2>
    </div>
    <md-tab-group>
        <md-tab *ngFor="let dato of datos" label="{{dato.pais}}">
            <article class="article">
                <div class="box box-default">
                    <div class="box-body">
                        <md-tab-group class="mdl-shadow--2dp tab-group-series">
                            <md-tab *ngFor="let serie of dato.series" label="{{serie.orden}}ª serie ({{serie.fechaEmisionDesde}} - {{serie.fechaEmisionHasta}})">
                                <div class="box-body">
                                    <div id="serie-fotos-container">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="foto-container">
                                                            <p>1 céntimo</p>
                                                            <img (click)="openDialogoDetalle(serie.moneda1c)" style="width: 100%" src="{{serie.moneda1c.imagen}}"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="foto-container">
                                                            <p>2 céntimos</p>
                                                            <img (click)="openDialogoDetalle(serie.moneda2c)" style="width: 100%" src="{{serie.moneda2c.imagen}}"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="foto-container">
                                                            <p>5 céntimos</p>
                                                            <img (click)="openDialogoDetalle(serie.moneda5c)" style="width: 100%" src="{{serie.moneda5c.imagen}}"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="foto-container">
                                                            <p>10 céntimos</p>
                                                            <img (click)="openDialogoDetalle(serie.moneda10c)" style="width: 100%" src="{{serie.moneda10c.imagen}}"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="foto-container">
                                                            <p>20 céntimos</p>
                                                            <img (click)="openDialogoDetalle(serie.moneda20c)" style="width: 100%" src="{{serie.moneda20c.imagen}}"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="foto-container">
                                                            <p>50 céntimos</p>
                                                            <img (click)="openDialogoDetalle(serie.moneda50c)" style="width: 100%" src="{{serie.moneda50c.imagen}}"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="foto-container">
                                                            <p>1 euro</p>
                                                            <img (click)="openDialogoDetalle(serie.moneda1e)" style="width: 100%" src="{{serie.moneda1e.imagen}}"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="foto-container">
                                                            <p>2 euros</p>
                                                            <img (click)="openDialogoDetalle(serie.moneda2e)" style="width: 100%" src="{{serie.moneda2e.imagen}}"/>
                                                        </div>
                                                    </div>
                                                </div>      
                                            </div>
                                        </div>
                                    </div>

                                    <div class="box box-default table-box table-flip-scroll mdl-shadow--2dp">
                                        <table class="mdl-data-table">
                                            <thead>
                                                <tr>
                                                    <th class="mdl-data-table__cell--non-numeric">#</th>
                                                    <th class="mdl-data-table__cell--non-numeric">1 céntimo</th>
                                                    <th class="mdl-data-table__cell--non-numeric">2 céntimos</th>
                                                    <th class="mdl-data-table__cell--non-numeric">5 céntimos</th>
                                                    <th class="mdl-data-table__cell--non-numeric">10 céntimos</th>
                                                    <th class="mdl-data-table__cell--non-numeric">20 céntimos</th>
                                                    <th class="mdl-data-table__cell--non-numeric">50 céntimos</th>
                                                    <th class="mdl-data-table__cell--non-numeric">1 euro</th>
                                                    <th class="mdl-data-table__cell--non-numeric">2 euros</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let tirada of serie.tiradas">
                                                    <td class="mdl-data-table__cell--non-numeric">{{tirada.ano}}</td>
                                                    <td class="mdl-data-table__cell--non-numeric">{{tirada.tirada1c}}</td>
                                                    <td class="mdl-data-table__cell--non-numeric">{{tirada.tirada2c}}</td>
                                                    <td class="mdl-data-table__cell--non-numeric">{{tirada.tirada5c}}</td>
                                                    <td class="mdl-data-table__cell--non-numeric">{{tirada.tirada10c}}</td>
                                                    <td class="mdl-data-table__cell--non-numeric">{{tirada.tirada20c}}</td>
                                                    <td class="mdl-data-table__cell--non-numeric">{{tirada.tirada50c}}</td>
                                                    <td class="mdl-data-table__cell--non-numeric">{{tirada.tirada1e}}</td>
                                                    <td class="mdl-data-table__cell--non-numeric">{{tirada.tirada2e}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </md-tab>
                        </md-tab-group>
                    </div>
                </div>
            </article>
        </md-tab>
    </md-tab-group>
</section>