<section class="page-with-tabs">
    <div class="page-title">
        <h2>Series de {{series[0].pais.nombre}}</h2>
    </div>
    <md-tab-group>
        <md-tab *ngFor="let serie of series" label="({{serie.fecha_desde}} - {{serie.fecha_hasta}})">
            <article class="article">
                <div class="box box-default">
                    <div class="box-body">
                        <div id="serie-fotos-container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-sm-3 col-md-3">
                                            <div class="foto-container">
                                                <p>{{serie.monedas_ano[0].m1c.valor.nombre_comun}}</p>
                                                <img (click)="openDialogoDetalle(serie.monedas_ano[0].m1c)" style="width: 100%" src="{{serie.monedas_ano[0].m1c.imagen}}"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3">
                                            <div class="foto-container">
                                                <p>{{serie.monedas_ano[0].m2c.valor.nombre_comun}}</p>
                                                <img (click)="openDialogoDetalle(serie.monedas_ano[0].m2c)" style="width: 100%" src="{{serie.monedas_ano[0].m2c.imagen}}"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3">
                                            <div class="foto-container">
                                                <p>{{serie.monedas_ano[0].m5c.valor.nombre_comun}}</p>
                                                <img (click)="openDialogoDetalle(serie.monedas_ano[0].m5c)" style="width: 100%" src="{{serie.monedas_ano[0].m5c.imagen}}"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3">
                                            <div class="foto-container">
                                                <p>{{serie.monedas_ano[0].m10c.valor.nombre_comun}}</p>
                                                <img (click)="openDialogoDetalle(serie.monedas_ano[0].m10c)" style="width: 100%" src="{{serie.monedas_ano[0].m10c.imagen}}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-sm-3 col-md-3">
                                            <div class="foto-container">
                                                <p>{{serie.monedas_ano[0].m20c.valor.nombre_comun}}</p>
                                                <img (click)="openDialogoDetalle(serie.monedas_ano[0].m20c)" style="width: 100%" src="{{serie.monedas_ano[0].m20c.imagen}}"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3">
                                            <div class="foto-container">
                                                <p>{{serie.monedas_ano[0].m50c.valor.nombre_comun}}</p>
                                                <img (click)="openDialogoDetalle(serie.monedas_ano[0].m50c)" style="width: 100%" src="{{serie.monedas_ano[0].m50c.imagen}}"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3">
                                            <div class="foto-container">
                                                <p>{{serie.monedas_ano[0].m1e.valor.nombre_comun}}</p>
                                                <img (click)="openDialogoDetalle(serie.monedas_ano[0].m1e)" style="width: 100%" src="{{serie.monedas_ano[0].m1e.imagen}}"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3">
                                            <div class="foto-container">
                                                <p>{{serie.monedas_ano[0].m2e.valor.nombre_comun}}</p>
                                                <img (click)="openDialogoDetalle(serie.monedas_ano[0].m2e)" style="width: 100%" src="{{serie.monedas_ano[0].m2e.imagen}}"/>
                                            </div>
                                        </div>
                                    </div>      
                                </div>
                            </div>
                        </div>

                        <table class="tabla-monedas mdl-data-table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>1 céntimo</th>
                                    <th>2 céntimos</th>
                                    <th>5 céntimos</th>
                                    <th>10 céntimos</th>
                                    <th>20 céntimos</th>
                                    <th>50 céntimos</th>
                                    <th>1 euro</th>
                                    <th>2 euros</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>1 céntimo</th>
                                    <th>2 céntimos</th>
                                    <th>5 céntimos</th>
                                    <th>10 céntimos</th>
                                    <th>20 céntimos</th>
                                    <th>50 céntimos</th>
                                    <th>1 euro</th>
                                    <th>2 euros</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr *ngFor="let tirada of serie.monedas_ano">
                                    <td><strong>{{tirada.ano}}</strong></td>
                                    <td (click)="openDialogoColeccion(tirada.m1c)">{{tirada.m1c.tirada_unc + tirada.m1c.tirada_bu + tirada.m1c.tirada_proof | number}}
                                    <td (click)="openDialogoColeccion(tirada.m2c)">{{tirada.m2c.tirada_unc + tirada.m2c.tirada_bu + tirada.m2c.tirada_proof | number}}</td>
                                    <td (click)="openDialogoColeccion(tirada.m5c)">{{tirada.m5c.tirada_unc + tirada.m5c.tirada_bu + tirada.m5c.tirada_proof | number}}</td>
                                    <td (click)="openDialogoColeccion(tirada.m10c)">{{tirada.m10c.tirada_unc + tirada.m10c.tirada_bu + tirada.m10c.tirada_proof | number}}</td>
                                    <td (click)="openDialogoColeccion(tirada.m20c)">{{tirada.m20c.tirada_unc + tirada.m20c.tirada_bu + tirada.m20c.tirada_proof | number}}</td>
                                    <td (click)="openDialogoColeccion(tirada.m50c)">{{tirada.m50c.tirada_unc + tirada.m50c.tirada_bu + tirada.m50c.tirada_proof | number}}</td>
                                    <td (click)="openDialogoColeccion(tirada.m1e)">{{tirada.m1e.tirada_unc + tirada.m1e.tirada_bu + tirada.m1e.tirada_proof | number}}</td>
                                    <td (click)="openDialogoColeccion(tirada.m2e)">{{tirada.m2e.tirada_unc + tirada.m2e.tirada_bu + tirada.m2e.tirada_proof | number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </article>
        </md-tab>
    </md-tab-group>
</section>