.foto-container {
    font-size: 0.875rem;
    text-align: center;
}

.foto-container img {
    cursor: pointer;
}

.foto-container p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    margin-top: 16px;
}

#serie-fotos-container {
    margin-bottom: 1.25rem;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    top: auto;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    background-color: black;
}

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
    background-color: #EF5350;
}

.iWish {
    background-color: #EF5350;
    color: white;
    cursor: pointer;
}

.iHave {
    background-color: #66BB6A;
    color: white;
    cursor: pointer;
}

.notIssued {
    background-color: #BDBDBD;
    color: white;
}

.cell-tirada {
    display: flex; 
    align-items: center;
}