<section class="page-with-tabs">
    <div class="page-title">
        <h2>Series de {{series[0].pais.nombre}}</h2>
    </div>
    <md-tab-group>
        <md-tab *ngFor="let serie of series" label="({{serie.fecha_desde}} - {{serie.fecha_hasta}})">
            <article class="article">
                <div class="box box-default">
                    <div class="box-body">
                        <div id="serie-fotos-container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-sm-3 col-md-3">
                                            <div class="foto-container">
                                                <p>{{serie.monedas_ano[0].monedas[0].valor.nombre_comun}}</p>
                                                <img (click)="openDialogoDetalle(serie.monedas_ano[0].monedas[0])" style="width: 100%" src="{{serie.monedas_ano[0].monedas[0].imagen}}"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3">
                                            <div class="foto-container">
                                                <p>{{serie.monedas_ano[0].monedas[1].valor.nombre_comun}}</p>
                                                <img (click)="openDialogoDetalle(serie.monedas_ano[0].monedas[1])" style="width: 100%" src="{{serie.monedas_ano[0].monedas[1].imagen}}"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3">
                                            <div class="foto-container">
                                                <p>{{serie.monedas_ano[0].monedas[2].valor.nombre_comun}}</p>
                                                <img (click)="openDialogoDetalle(serie.monedas_ano[0].monedas[2])" style="width: 100%" src="{{serie.monedas_ano[0].monedas[2].imagen}}"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3">
                                            <div class="foto-container">
                                                <p>{{serie.monedas_ano[0].monedas[3].valor.nombre_comun}}</p>
                                                <img (click)="openDialogoDetalle(serie.monedas_ano[0].monedas[3])" style="width: 100%" src="{{serie.monedas_ano[0].monedas[3].imagen}}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-sm-3 col-md-3">
                                            <div class="foto-container">
                                                <p>{{serie.monedas_ano[0].monedas[4].valor.nombre_comun}}</p>
                                                <img (click)="openDialogoDetalle(serie.monedas_ano[0].monedas[4])" style="width: 100%" src="{{serie.monedas_ano[0].monedas[4].imagen}}"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3">
                                            <div class="foto-container">
                                                <p>{{serie.monedas_ano[0].monedas[5].valor.nombre_comun}}</p>
                                                <img (click)="openDialogoDetalle(serie.monedas_ano[0].monedas[5])" style="width: 100%" src="{{serie.monedas_ano[0].monedas[5].imagen}}"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3">
                                            <div class="foto-container">
                                                <p>{{serie.monedas_ano[0].monedas[6].valor.nombre_comun}}</p>
                                                <img (click)="openDialogoDetalle(serie.monedas_ano[0].monedas[6])" style="width: 100%" src="{{serie.monedas_ano[0].monedas[6].imagen}}"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3">
                                            <div class="foto-container">
                                                <p>{{serie.monedas_ano[0].monedas[7].valor.nombre_comun}}</p>
                                                <img (click)="openDialogoDetalle(serie.monedas_ano[0].monedas[7])" style="width: 100%" src="{{serie.monedas_ano[0].monedas[7].imagen}}"/>
                                            </div>
                                        </div>
                                    </div>      
                                </div>
                            </div>
                        </div>

                        <table class="tabla-monedas mdl-data-table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>1 céntimo</th>
                                    <th>2 céntimos</th>
                                    <th>5 céntimos</th>
                                    <th>10 céntimos</th>
                                    <th>20 céntimos</th>
                                    <th>50 céntimos</th>
                                    <th>1 euro</th>
                                    <th>2 euros</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>1 céntimo</th>
                                    <th>2 céntimos</th>
                                    <th>5 céntimos</th>
                                    <th>10 céntimos</th>
                                    <th>20 céntimos</th>
                                    <th>50 céntimos</th>
                                    <th>1 euro</th>
                                    <th>2 euros</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr *ngFor="let tirada of serie.monedas_ano">
                                    <td><strong>{{tirada.ano}}</strong></td>
                                    
                                    <ng-template ngFor let-moneda [ngForOf]="tirada.monedas">
                                        <div *ngIf="(moneda.tirada_unc + moneda.tirada_bu + moneda.tirada_proof) == 0; then not_issued else issued"></div>
                                        <ng-template #not_issued><td class="notIssued">0</td></ng-template>
                                        <ng-template #issued>
                                            <td [ngClass]="(moneda.user_monedas.length > 0) ? 'iHave' : 'iWish'">
                                                <div class="cell-tirada">
                                                    <span (click)="openDialogoTirada(moneda)">{{moneda.tirada_unc + moneda.tirada_bu + moneda.tirada_proof | number}}</span>
                                                    <span style="flex: 1 1 auto;"></span>
                                                    <span (click)="openDialogoColeccion(moneda)">
                                                        <div *ngIf="moneda.user_monedas.length > 0; then have else wish"></div>
                                                        <ng-template #wish><i class="fa fa-plus"></i></ng-template>
                                                        <ng-template #have><i class="fa fa-pencil"></i></ng-template>
                                                    </span>
                                                </div>
                                            </td>
                                        </ng-template>
                                    </ng-template>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </article>
        </md-tab>
    </md-tab-group>
</section>