.foto-container {
    font-size: 0.875rem;
    text-align: center;
}

.foto-container img {
    cursor: pointer;
}

.foto-container p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

#serie-fotos-container {
    margin-bottom: 1.25rem;
}